@import url('https://use.typekit.net/bai6ujt.css');
:root
{
  --skip-replay: "../public/images/skillreplay/";
}

@font-face {
  font-family: 'industry-inc-stencil';
  src: url('https://use.typekit.net/bai6ujt.css') format('truetype');
}

body {
  font-family: "industry-inc-stencil", sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: white;
}

.BGImage {
  width: 1920px;
  height: 1080px;
  background: url("../public/images/Background.svg");
  background-repeat: no-repeat;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: -100000;
}

.FadeIn {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.SmoothWidth {
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -ms-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.F500 {
  font-weight: 500;
}

.F700 {
  font-weight: 700;
}

.White {
  color: white;
}

.Txt13 {
  font-size: 13px;
}

.Txt15 {
  font-size: 15px;
}

.Txt20 {
  font-size: 20px;
}

.W340 {
  width: 340px;
  max-width: 340px;
}

.Fade {
  overflow: hidden;
  white-space: nowrap;
  mask-image: linear-gradient(90deg, #000 90%, transparent);
}

.ScoringShadow {
  text-shadow: 2px 7px 11px rgba(0, 0, 0, 1);
}

/* Background */
.Background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  background: #5d5d5d;
  z-index: -100000;
}

/* PlayerContainers */

.PlayerContainers {
  font-family: 'industry-inc-stencil', sans-serif;
  position: absolute;
  top: 0;
  height: 172px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  transition: all 0.5s ease-in;
  /*background: linear-gradient(90deg, rgba(255, 255, 255, 0), #000000, rgba(255, 255, 255, 0));*/
}

.imageContainer {
  position: relative;
  right: 0;
  width: 20%;
}

.Player1Image {
  width: 118px;
  height: 118px;
  border-radius: 12px;
  margin: 0px 34px 0px 34px;
}

.Player1Name {
  position: absolute;
  bottom: -100px;
  text-align: right;
  right: 155px;
  color: white;
  text-transform: capitalize;
  font-size: 64px;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 16ch;
}

.Player1Score {
  width: 11px;
  height: 42px;
  background: transparent;
  text-align: center;
  transform: skewY(4.5deg);
  rotate: -4.5deg;
  border-radius: 3px;
  z-index: 5;
  border: 1px solid #f6d16a;
  transition: all 0.5s ease-in-out;
}

.Player1Goal {
  opacity: 1;
  padding-left: 13px;
  padding-right: 13px;
  background: #4D5386;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  transition: all 0.5s ease-in-out;
  z-index: 3;
  border-radius: 8px 0 0 0;
  white-space: nowrap;
}

.Player2Container {
  left: 53%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Player2Goal {
  padding-left: 13px;
  padding-right: 13px;
  background: #4D5386;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  transition: all 0.5s ease-in-out;
  z-index: 3;
  border-radius: 0 8px 0 0;
  white-space: nowrap;
}

.Player2Score {
  width: 11px;
  height: 42px;
  background: transparent;
  text-align: center;
  transform: skewY(-4.5deg);
  rotate: 4.5deg;
  border-radius: 3px;
  z-index: 5;
  border: 1px solid #d91e36;
  transition: all 0.5s ease-in-out;
}

.Player2Name {
  position: absolute;
  bottom: -100px !important; 
  text-align: right;
  left: 149px;
  color: white;
  text-transform: capitalize;
  font-size: 64px;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 16ch;
}

.Player2Image {
  width: 118px;
  height: 118px;
  border-radius: 12px;
}

.buttonsChooseMatch {
  position: absolute;
  top: 166px;
  right: 0;
  height: inherit;
  width: 20%;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: scroll; /* Ensure content does not overflow */
  z-index: 100001;
}

.MatchSelection {
  max-height: 100%; /* Limit height to the parent element */
  max-width: 100%;  /* Limit width to the parent element */
  overflow: auto;   /* Add scrollbars if content exceeds the bounds */
}

/* control buttons */
.chooseMatch {
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: inherit;
  width: 20%;
  background: transparent;
  border: transparent;
  z-index: 100000;
}

.MuteButton {
  position: absolute;
  left: 0;
  top: 0;
  height: inherit;
  width: 20%;
  background: transparent;
  border: transparent;
  z-index: 100000;
}

.videoContainer {
  display: flex;
  width: 88%;
  height: 67%;
  position: absolute;
  top: 16.5%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#player1Video,
#player2Video {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: inset(15% 15% 15% 15%); /* Adjust the values as needed */
  transform: scale(1.43); /* Optional: for zooming */
}


/* Score Bounds | FC, Combo, ACC */

.PlayerBounds {
  width: 1050px;
  height: 172px;
  max-height: 172px;
  opacity: 1;
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 43px;
}

.StatsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
}

.PlayerStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.TopRow1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.TopRow2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.FC {
  font-size: 32px;
  font-weight: 900;
  color: white;
}

.Combo {
  font-size: 32px;
  font-weight: 900;
  color: white;
}

.ACC {
  font-size: 32px;
  font-weight: 900;
  color: white;
}

.Replay {
  position: absolute;
  width: 24px;
  height: 24px;
  transform: scale(3);
  bottom: 100px;
}
/* TODO Specific Replay class maybe */
.ReplayBlue {
  left: 1035.5px;
}

.ReplayRed {
  left: 743.5px;
}
/* Tug Of War */

.TugOfWar {
  display: flex;
  opacity: 1;
  position: absolute;
  bottom: 900px;
  width: 88%;
}

.LeftTugOuter {
  direction: rtl;
  width: 960px;
  max-width: 960px;
}

.LeftTugInner {
  width: 0px;
  height: 10px;
  background-image: linear-gradient(90deg, rgb(229, 0, 60), rgb(229, 0 ,60));
}

.RightTugOuter {
  direction: ltr;
  width: 960px;
  max-width: 960px;
}

.RightTugInner {
  width: 0px;
  height: 10px;
  background-image: linear-gradient(-90deg, rgb(0, 83, 224), rgb(0, 83, 224));
}

/* Song Card */

#PlayerScores {
  position: absolute;
  height: 17%;
  width: 88%;
  bottom: 0;
  font-family: 'industry-inc-stencil', sans-serif;
}

.SongCard {
  background: url("/public/images/Songcards/Normal/ExpertBG.png");

  height: 136px;
  width: 503px;
  max-height: 136px;
  max-width: 503px;
  opacity: 1;
  display: flex;
  bottom: 20px;
  right: 103px;
}

.SongName {
  position: absolute;
  top: 5px;
  left: 23px;
  font-size: 24.5px;
  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75%; /* Adjust the width as needed */
}

.SongBox {
  display: flex;
  position: relative;
  gap: 11px;
}

.SongBoxBG {
  position: absolute;
  right: -65px;
  background: url('https://eu.cdn.beatsaver.com/cfcdbd060aabc0673f4950506b5170ce59d963bc.jpg') 50% 50% / cover;
  min-width: 128px;
  min-height: 128px;
  border-radius: 15px;
  opacity: 1;
  transition: all 0.5s ease;
  transform: skewY(-4deg);
  rotate: 4deg;
}

.SongInfoLeft {
  margin-top: 44px;
  margin-left: 25px;
  font-size: 19px;
}

.SongMapper {
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 19ch;
  white-space: nowrap;
}

.UploadDate {
  position: relative;
  top: -12px;
  overflow: hidden;
  text-overflow: " ";
  max-width: 19ch;
  white-space: nowrap;
}

.SongInfoRight {
  position: absolute;
  top: 44px;
  right: 125px;
  text-align: right;
  font-size: 19px;
}

.SongArtist {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 8ch;
  white-space: nowrap;
}

.SongLength {
  color: white;
  font-size: 19px;
  margin-top: -13px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width:12ch;
  white-space: nowrap;
}

.DiffName {
  position: absolute;
  text-align: center;
  right: 125px;
  top: 105px;
  z-index: 100;
}

.SongPosition {
  position: absolute;
  top: 40%;
  left: 0;
  opacity: 1.5;
  z-index: 100;
  color:black;
  font-size: 300px;
}

#Player1SkipBase,
#Player1ReplayBase,
#Player2SkipBase,
#Player2ReplayBase {
  border: none;
}