@import url('https://use.typekit.net/bai6ujt.css');
:root
{
  --skip-replay: "../public/images/skillreplay/";
}

@font-face {
  font-family: 'industry-inc-stencil';
  src: url('https://use.typekit.net/bai6ujt.css') format('truetype');
}

body {
  font-family: "industry-inc-stencil", sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: white;
}

.BGImage {
  width: 1920px;
  height: 1080px;
  background: url("../public/images/Background.svg");
  background-repeat: no-repeat;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: -100000;
}

.FadeIn {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.SmoothWidth {
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -ms-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.F500 {
  font-weight: 500;
}

.F700 {
  font-weight: 700;
}

.White {
  color: white;
}

.Txt13 {
  font-size: 13px;
}

.Txt15 {
  font-size: 15px;
}

.Txt20 {
  font-size: 20px;
}

.W340 {
  width: 340px;
  max-width: 340px;
}

.Fade {
  overflow: hidden;
  white-space: nowrap;
  mask-image: linear-gradient(90deg, #000 90%, transparent);
}

.ScoringShadow {
  text-shadow: 2px 7px 11px rgba(0, 0, 0, 1);
}

/* Background */
.Background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  background: #5d5d5d;
  z-index: -100000;
}

/* PlayerContainers */

.PlayerContainers {
  font-family: 'industry-inc-stencil', sans-serif;
  position: absolute;
  top: 0;
  height: 172px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  transition: all 0.5s ease-in;
  /*background: linear-gradient(90deg, rgba(255, 255, 255, 0), #000000, rgba(255, 255, 255, 0));*/
}

.imageContainer {
  position: relative;
  right: 0;
  width: 20%;
}

.Player1Image {
  width: 118px;
  height: 118px;
  border-radius: 12px;
  margin: 0px 34px 0px 34px;
  opacity: 0;
}


.Player1Goal {
  opacity: 1;
  padding-left: 13px;
  padding-right: 13px;
  background: #4D5386;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  transition: all 0.5s ease-in-out;
  z-index: 3;
  border-radius: 8px 0 0 0;
  white-space: nowrap;
}

.Player2Goal {
  padding-left: 13px;
  padding-right: 13px;
  background: #4D5386;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  transition: all 0.5s ease-in-out;
  z-index: 3;
  border-radius: 0 8px 0 0;
  white-space: nowrap;
}

.Player2Image {
  width: 118px;
  height: 118px;
  border-radius: 12px;
  opacity: 0;
}

.buttonsChooseMatch {
  position: absolute;
  top: 166px;
  right: 0;
  height: inherit;
  width: 20%;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: scroll; /* Ensure content does not overflow */
  z-index: 100001;
}

.MatchSelection {
  max-height: 100%; /* Limit height to the parent element */
  max-width: 100%;  /* Limit width to the parent element */
  overflow: auto;   /* Add scrollbars if content exceeds the bounds */
}

/* control buttons */
.chooseMatch {
  padding: 0;
  position: absolute;
  right: 62px;
  top: 8px;
  height: 8px;
  width: 20%;
  background: transparent;
  border: transparent;
  z-index: 100000;
}

.MuteButton {
  position: absolute;
  left: 0;
  top: 0;
  height: inherit;
  width: 20%;
  background: transparent;
  border: transparent;
  z-index: 100000;
}

.videoContainer {
  display: flex;
  width: 88%;
  height: 67%;
  position: absolute;
  top: 16.5%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.PlayerScores {
  display: flex;
  position: absolute;
  flex-direction: row;
  height: 16.5%;
  width: 88%;
  bottom: 0;
  font-family: 'industry-inc-stencil', sans-serif;
}

.Player1Container {
  flex: auto;
  align-self: flex-start;
  max-width: 50%;
  width: 50%;
  max-height: 100%;
  height: 100%;
}

.Player1Name {
  background-color: rgb(229, 0, 60);
  margin-right: 4px;
  padding-left: 4px;
  padding-top: 4px;
  max-height: 94px;
  height: 94px;
  position: absolute;
  display: grid;
  bottom: 40px;
  margin: 0px;
  border-radius: 16px 0px 0px 16px;
  text-align: center;
  align-items: center;
  justify-content: start;
  right: 972px;
  color: white;
  text-transform: capitalize;
  font-size: 50px;
  z-index: 5;
  white-space: nowrap;
  overflow: clip;
  text-overflow: ellipsis;
  max-width: 22ch;
  width: 22ch;
}

.Player1Score {
  position: absolute;
  display: flex;
  padding-top: 4px;
  top: 40px;
  left: 716px;
  width: 92px;
  height: 94px; 
  line-height: 100%;
  background-color: rgb(178, 0, 38);
  align-items: center;
  justify-content: center;
  border-radius: 0px 16px 16px 0px;
  font-size: 50px;
}

.Player2Container {  
  flex: auto;
  align-self: flex-end;
  max-width: 50%;
  width: 50%;
  max-height: 100%;
  height: 100%;
}

.Player2Name {
  background-color: rgb(0, 92, 255);
  padding-left: 4px;
  padding-top: 4px;
  height: 94px;
  max-height: 94px;
  position: absolute;
  display: grid;
  bottom: 42px; 
  text-align: center;
  justify-content: start !important;
  left: 994px;
  color: white;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  margin: 0px;
  font-size: 50px;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 22ch;
  width: 22ch;
  border-radius: 0px 16px 16px 0px;
}

.Player2Score {
  position: absolute;
  display: flex;
  padding-top: 4px;
  top: 38px;
  left: 902px;
  width: 92px;
  height: 94px;
  line-height:100%;
  background-color: rgb(0, 53, 170);
  align-items: center;
  justify-content: center;
  border-radius: 16px 0px 0px 16px;
  font-size: 50px;
}

#player1Video,
#player2Video {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: inset(15% 15% 15% 15%); /* Adjust the values as needed */
  transform: scale(1.43); /* Optional: for zooming */
}


/* Score Bounds | FC, Combo, ACC */

.StatsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
  padding: 10px 20px;
}

.PlayerStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.TopRow1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  padding-left: 24px;
}

.TopRow2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-right: 24px;
}

.FC {
  font-size: 38px;
  font-weight: 900;
  color: white;
}

.Combo {
  font-size: 38px;
  font-weight: 900;
  color: white;
}

.ACC {
  font-size: 38px;
  font-weight: 900;
  color: white;
}

.Player1ACC {
  padding-right: 4px;
}

.Player2ACC {
  padding-left: 4px;
}

.Replay {
  position: absolute;
  width: 24px;
  height: 24px;
  transform: scaleX(-1) scale(3.5);
  bottom: 100px;
}

.ReplayBlue {
  left: 712.5px;
}

.ReplayRed {
  left: 1004.5px;
}

.ReplayScore {
  position: absolute;
  bottom: 115px;
  font-size: 38px;
  padding: 0px;
  line-height: 100%;
}

.ReplayScore1 {
  left: 564.5px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  border: 4px solid rgb(0, 83, 229);
  color: rgb(0, 83, 229);
  opacity: 0;
}

.ReplayScore2 {
  left:1064.5px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  border: 4px solid rgb(229, 0, 60);
  color: rgb(229, 0, 60);
  opacity: 0;
}
/* Tug Of War */

.TugOfWar {
  display: flex;
  opacity: 1;
  position: absolute;
  bottom: 900px;
  width: 88%;
}

.LeftTugOuter {
  direction: rtl;
  width: 960px;
  max-width: 960px;
}

.LeftTugInner {
  width: 0px;
  height: 10px;
  background-image: linear-gradient(90deg, rgb(229, 0, 60), rgb(229, 0 ,60));
}

.RightTugOuter {
  direction: ltr;
  width: 960px;
  max-width: 960px;
}

.RightTugInner {
  width: 0px;
  height: 10px;
  background-image: linear-gradient(-90deg, rgb(0, 83, 224), rgb(0, 83, 224));
}

/* Song Card */

.SongCard {
  background: url("/public/images/Songcards/Normal/ExpertBG.png");

  height: 136px;
  width: 503px;
  max-height: 136px;
  max-width: 503px;
  opacity: 1;
  display: flex;
  right: 44px;
  position: relative;
  border-radius: 9px;
}

.SongName {
  position: absolute;
  top: -10px;
  left: 14px;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 332px; /* Adjust the width as needed */
  width: 332px;
}

.SongBox {
  display: flex;
  position: relative;
  gap: 8px;
  height: 100%;
  max-width: 380px;
  width: 380px;
}



.SongInfoLeft {
  position: absolute;
  top: 52px;
  right: 144px;
  font-size: 18px;
}

.SongMapper {
  position: relative;
  top: -8px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 24ch;
  white-space: nowrap;
}

.UploadDate {
  position: relative;
  top: -26px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 24ch;
  white-space: nowrap;
}

.SongInfoTop   {
  position: absolute;
  top: 28px;
  right: 322px;
  text-align: right;
  max-height: 18px;
  font-size: 18px;
}

.SongArtist {
  position: absolute;
  text-align: left;
  top: -6px;
  right: -200px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 22ch;
  width: 22ch;
  white-space: nowrap;
}

.SongLength {
  color: white;
  position: absolute;
  top: -6px;
  right: -320px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 12ch;
  white-space: nowrap;
}

.DiffName {
  font-size: 18px;
  position: absolute;
  top: 58px;
  right: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 12ch;
  white-space: nowrap;
}

.MapKey {
  font-size: 18px;
  position: absolute;
  top: 44px;
  right: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 6ch;
  white-space: nowrap;
} 

.SongBPM {
  font-size: 18px;
  position: absolute;
  top: 66px;
  right: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 7ch;
  white-space: nowrap;
}

.SongPosition {
  position: absolute;
  top: 40%;
  left: 0;
  opacity: 1.5;
  z-index: 100;
  color:black;
  font-size: 300px;
}
.SongCover {
  background: url('https://eu.cdn.beatsaver.com/cfcdbd060aabc0673f4950506b5170ce59d963bc.jpg') 50% 50% / cover;
  max-width: 114px;
  max-height: 114px;
  width: 116px;
  height: 116px;
  position: relative;
  bottom: -6px;
  left: 380px;
  border-radius: 14px;
  flex-shrink: 0;
}
.SongBoxBG {
  background: url("/public/images/Songcards/Normal/Expert.svg");
  max-width: 116px;
  max-height: 116px;
  width: 116px;
  height: 116px;
  position: relative;
  bottom: -4px;
  left: 258px;
  flex-shrink: 0;
}

.InvertedButton {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 116px;
  width: 116px;
  opacity: 0;
}

#Player1SkipBase,
#Player1ReplayBase,
#Player2SkipBase,
#Player2ReplayBase {
  border: none;
}